*.orig
testdb2
apsw/*.pyd
TAGS
sqlite3async.h
sqlite3async.c
callgrind.out.*
:memory:
doc/vfs.rst
doc/example.rst
doc/example-fts.rst
doc/cursor.rst
doc/connection.rst
doc/blob.rst
doc/backup.rst
doc/apsw.rst
doc/vtable.rst
doc/fts.rst
doc/typing.rstgen
doc/renames.rstgen
doc/docdb.json
*.pyc
testextension.*
testdbx-journal
testdbx
*~
*.so
*.o
*.gcno
*.gcda
*.gcov
sqlite3/
build/
dist/
sqlite3.h
sqlite3.c
sqlite3ext.h
MANIFEST
MANIFEST.in.tmp
megatestresults/
testdb
/.coverage
/.coverage.*
/htmlcov/
apsw.egg-info
/.ropeproject/
/.mypy_cache/
/System Volume Informationm/
__pycache__/
setup.cfg
work/
.venv/
compile_commands.json
.vscode/
