# The C source
include src/*.c
include src/faultinject.h
include src/apswversion.h
include src/apsw.docstrings

# other files
include apsw/__init__.pyi
include apsw/py.typed
include apsw/shell.py
include apsw/speedtest.py
include apsw/trace.py
include apsw/tests.py
include apsw/ext.py

# data
include apsw/fts_test_strings

# top level
include LICENSE
include checksums
include setup.py

# Long description comes from this
include README.rst

include setup.apsw
