# The C source

include src/*.c
include src/types.py
include src/apswversion.h
include src/apsw.docstrings

# See https://github.com/rogerbinns/apsw/issues/89
include MANIFEST.in

# other files
include apsw/__init__.pyi
include apsw/py.typed
include apsw/shell.py
include apsw/speedtest.py
include apsw/trace.py
include apsw/tests.py
include LICENSE
include checksums
include setup.cfg
include setup.py
