/* setting line height makes the unicode box drawing characters have spacing
   between lines which looks ugly */
.rst-content div.highlight-output div.highlight pre {
	line-height: normal;
	font-weight: 600;
}

/* workaround for https://github.com/readthedocs/sphinx_rtd_theme/issues/1505 */
.wy-table-responsive table td,
.wy-table-responsive table th {
	white-space: normal
}

.rst-content code.literal {
	white-space: nowrap;
}

.aiobench-table td:not(:first-child),
.aiobench-table th:not(:first-child) {
    text-align: right;
	font: fixed;
}
